:root {
    --background: rgba(108, 108, 108, 0.85);
    --white: white;
    --accent: rgb(131, 255, 131);
  }
  
  *, *::before, *::after {
    box-sizing: border-box;
  }
  
  body {
      margin: 0;
      background: var(--white);
      font-family: Georgia, 'Times New Roman', Times, serif;
      font-weight: 400;
  }
  
  .content {
  height: 233px;
  background: var(--white);
  position: relative;
  display: flex;
  top: 104px;
  }
  
  h1 {
    text-align: center;
    position: relative;
    top: -12px;
  }
  
  section {
    background: var(--white);
    background-size: cover;
    place-items: center;
    margin-top: 77px; 
    height: fit-content;
  }
  
  header {
  background: var(--background);
      position: fixed;
      top: 0;
      z-index: 999;
      width: 100%;
      display: flex;
      height: 60px;
  }
  
  nav {
    position: fixed;
    top: 0;
    text-align: left;
    top: 100%;
    left: 0;
    background: var(--background);
    width: 100%;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;
  }
  
  nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  nav li {
    margin-bottom: 1em;
    margin-left: 1em;
  }
  
  nav a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
  }
  
  nav a:hover {
    color: var(--accent);
  }
  
  .nav-toggle:checked ~ nav {
    transform: scale(1,1);
  }
  
  .nav-toggle:checked ~ nav a {
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
  }
  
  nav {
    position: relative;
    text-align: left;
    transition: none;
    transform: scale(1,1);
    background: none;
    top: initial;
    left: initial;
    grid-column: 3 / 4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  nav ul {
    display: flex;
  }
  
  nav li {
    margin-left: 3em;
    margin-bottom: 0;
  }
  
  nav a {
    opacity: 1;
    position: relative;
  }
  
  nav a::before {
    content: '';
    display: block;
    height: 5px;
    background: var(--accent);
    position: absolute;
    top: -.75em;
    left: 0;
    right: 0;
    transform: scale(0, 1);
    transition: transform ease-in-out 250ms;
  }
  
  nav a:hover::before {
    transform: scale(1,1);
  }
  
  .logo {
    grid-column: 2 / 3;
    color: var(--white);
    margin-top: 12px;
  }

  #contact {
    position: absolute;
    bottom: 0px;
    margin-left: 44px;
    margin-bottom: -388px;
    padding-bottom: 89px;
  }

  #submit {
    max-width: 74px;
  }

  .about-us {
    max-width: 946px;
    text-align: center;
    margin-left: 327px;
  }

  #comment {
    
  }